<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{/vendors/jquery/dist/jquery.js}"></script>
    <script th:src="@{/js/jquery.serializejson.js}"></script>
    <script th:src="@{/vendors/pnotify/dist/pnotify.js}"></script>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/pnotify/dist/pnotify.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/pnotify/dist/pnotify.brighttheme.css}"/>

    <style>
        .price{
            border-width:0;
            width:20px;
            height:20px;
            text-align: center;
        }
    </style>
    <title>产品列表</title>
</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h3 th:if="${isChosed}" class="navbar-brand">
                        <span  th:text="${userName}"></span>,<span  th:text="${activityName}"></span>快乐，您可以重新选择额度不超过<span th:text="${quota}"></span>的礼品!
                </h3>
                <h3 th:unless="${isChosed}" class="navbar-brand">
                        <span  th:text="${userName}"></span>,<span  th:text="${activityName}"></span>快乐,请选择额度不超过<span  th:text="${quota}"></span>的礼品!
                </h3>
            </div>
        </div>
    </nav>
    <div class="container">
        <ul class="list-group">
            <div class="list-group-item active">
                <div class="row">
                    <div class="col-xs-5 text-left">
                        名称
                    </div>
                    <div class="col-xs-3 text-left">
                        单价
                    </div>
                    <div class="col-xs-4 text-center">
                        数量
                    </div>
                </div>
            </div>
            <form id="productForm">
                <th:block th:each="product:${productList}">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5 text-left">
                                <span th:text="${product.ProName}"></span>
                            </div>
                            <div class="col-xs-2 text-left">
                                <span th:text="${product.ProPrice}"></span>
                            </div>
                            <div class="col-xs-5 text-right">
                                <button type="button" class="btn btn-default btn-sm" th:value="${product.ProPrice}" onclick="minus($(this))">-</button>
                                <input type="text" class="price"  th:id="${product.proId}" th:name="${product.proId}" th:value="${product.proNum}"/>
                                <button type="button" class="btn btn-default btn-sm" th:value="${product.ProPrice}" onclick="add($(this))">+</button>
                            </div>
                        </div>
                    </li>
                </th:block>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            请选择领取地点
                        </div>

                        <div class="col-xs-6 text-right">
                            <select class="form-control" id="takePlace" name="takePlace" style="height: 2rem;padding: 0">
                                <option th:selected="${takePlace} == '济南'">济南</option>
                                <option th:selected="${takePlace} == '青岛'">青岛</option>
                                <option th:selected="${takePlace} == '烟台'">烟台</option>
                                <option th:selected="${takePlace} == '厦门'">厦门</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            请选择领取时间段
                        </div>

                        <div class="col-xs-6 text-right ">
                            <select class="form-control" id="takeTime" name="takeTime" style="height: 2rem;padding: 0">
                                <option th:selected="${takeTime} == '9月10日-20日'">9月10日-20日</option>
                                <option th:selected="${takeTime} == '9月20日-30日'">9月20日-30日</option>
                                <option th:selected="${takeTime} == '10月10日-20日'">10月10日-20日</option>
                                <option th:selected="${takeTime} == '10月20日-30日'">10月20日-30日</option>
                            </select>
                        </div>
                    </div>
                    <!--</div>-->
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            总价
                        </div>

                        <div class="col-xs-6 text-right">
                            <input type="text" style="border-width: 0;width: 60px" id="totalPrice" name="totalPrice" th:value="${totalPrice}"/>
                        </div>
                    </div>
                </li>
                <input type="button" onclick="chooseProduct()" value="提交" class="btn btn-warning btn-block btn-lg"/>

            </form>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript">
    function add (obj) {
        var num = $(obj).prev().val();
        $(obj).prev().val(++num);
        var totalPrice = $("#totalPrice").val();
        var price = $(obj).val();
        totalPrice = totalPrice*1 + price*1;
        $("#totalPrice").val(totalPrice)
    }
    function minus (obj) {
        var num = $(obj).next().val();
        if(num==0){
            return;
        }
        $(obj).next().val(--num);
        var totalPrice = $("#totalPrice").val();
        var price = $(obj).val();
        totalPrice = totalPrice*1 - price*1;
        $("#totalPrice").val(totalPrice);
    }
    /*<![CDATA[*/
    function chooseProduct() {
        var quota = [[${quota}]];
        var totalPrice = $("#totalPrice").val()
        if(totalPrice>quota){
            new PNotify({
                title: '对不起',
                text: "不能超出额度"+quota,
                type: 'error'
            });
            return false;
        }
        var formData = $("#productForm").serialize();
        $.post('/product/chooseProduct',formData,function (response, status,request) {
            if (request.getResponseHeader('ACCESS') === '1') {
                window.location = '/login/';
            }
            if(response.success==true){
                new PNotify({
                    title: '恭喜您',
                    text: response.message,
                    type: 'success'
                });
            }else{
                new PNotify({
                    title: '对不起',
                    text: response.message,
                    type: 'error'
                });
            }
        });
    }
    /*]]>*/
</script>
</html>